//Все цвета макета
//главный цвет текста
$mainTextColor: #555555;
//главный цвет текста
$secondTextColor: #b7b7b7;
//главный цвет текста
$thirdTextColor: #fff;
//главный цвет текста
$logoTextColor: #3a3a3a;


//BG
//главный цвет текста
$bgBody: #ffffff;
//главный цвет текста
$bgHeader: url("img/bgHeader.jpg");
//главный цвет текста
$bgFooter: #3b3b3b;
