@import "partials/params";
@import "partials/mixins";

html,
body {
    background: $bgBody;
    height: 100%;
}

p,
a,
li,
h1,
h2,
h3 {
    font-family: Aleo-Regular, Aleo-lightItalic, Aleo-bold;
    line-height: 1.7;
}

#mainNav {

    .row {
        height: 111px;
        .logo {
            color: $mainTextColor;
            font-family: WCManoNegraBta;
            font-size: 36px;

            span {
                color: red;
                position: relative;
                left: -10px;
            }
        }
        .ulNav {
            ul {
                display: flex;
                justify-content: space-between;
                list-style: none;
                li {
                    a {
                        font-weight: bold;
                        color: $mainTextColor;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

#mainHeader {
    background: $bgHeader no-repeat;
    background-size: cover;
    background-position: center center;
    height: 570px;
    color: $thirdTextColor;
    border-bottom: #f34949 5px solid;
    margin-bottom: 120px;

    img {
        display: block;
        margin: 0 auto;
        width: 155px;
        height: 75px;
    }
    .row {
        height: 570px;
        text-align: center;

        h1 {
            font-family: WCManoNegraBta;
            font-size: 100px;
        }
        p {
            font-size: 16px;
        }
    }

}

#prices {

    button {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .pricesText {
        p:first-child {
            display: flex;
            justify-content: space-between;
            font-weight: bold;

            i {

                width: 50%;
                border-bottom: 1px $secondTextColor solid;
            }
        }
        p:last-child {

            color: $secondTextColor;
            font-family: Aleo-lightItalic;
        }
    }
}

#dishes {
    h2 {
        margin-top: 50px;
        margin-bottom: 10px;
    }
    @include H2Content;

    .dishesImg {
        width: 220px;
        margin-top: 40px;
        img {
            width: 220px;
            height: 200px;
        }
        p {
            display: flex;
            justify-content: space-between;
            margin-top: 30px;
        }
    }

    @include star;
}

#gallery {
    h2 {
        margin-top: 100px;
        margin-bottom: 50px;
    }
    @include H2Content;
    img {
        float: left;
    }


}

#mainFooter {
    background: $bgFooter;
    margin-top: 150px;
    color: $thirdTextColor;
    padding-top: 50px;

    a {
        color: $thirdTextColor;
        text-decoration: none;
    }

    .logoFooter {
        font-family: WCManoNegraBta;
        font-size: 30px;
        position: relative;
        top: 10px;

        span {
            color: red;
        }
    }

    .row {
        padding-top: 50px;
        padding-bottom: 50px;

        ul {
            list-style: none;
            .lightText {
                font-family: Aleo-lightItalic;

            }
        }
    }

}
